body{

background-color: white;
background-image: url(https://i.pinimg.com/564x/43/5b/f0/435bf0e4a6e8200f2e7f073cc98fa6ff.jpg);
 background-size: cover;   
padding:0%;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
}
header{

background-color: rgb(196, 125, 125);
padding: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
height: 20px;

}
header.h5{
color: rgb(12, 12, 12);
text-align: center;
padding-right: 0%;
margin-bottom: 0px;

}
nav h5{
text-align:center;
margin-top: 0px;
margin-bottom: 0px;
color: rgb(23, 7, 66);

}


h5 a{
color: rgb(233, 231, 240);
}

.navbar{
background-color:pink;



font-family: Calibri;
padding-right: 15px;
padding-left: 15px;

}
.navdiv{
display: flex;
align-items: center;
justify-content: space-between;

}
.logo{
font-size: 35px;
font-weight: 600px;
color: rgb(250, 248, 250);
font-family: bold;

}
li{
list-style:georgian;
display: inline;
}
li a{
color: rgb(250, 7, 149);
margin-right: 5px;
font-family:'Courier New', Courier, monospace;
margin-left: 5px;

}

ul li{
font-family: 'Courier New', Courier, monospace;
padding-left: 0px;


}
div a{
font-family:serif;
font-weight: 1000;
font-size: larger;

}
.logo ,div, a{
color: black;

}
.cont{

    width: 200px;
    height: 450px; 
    position: relative;
    padding:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 100px;
    box-sizing: border-box;
    padding-left:0px ;
    padding-right: 30px;
}
.reg{
    background: white;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}